<!--
    {% extends "layout.html" %}

{% block body %}
<form action="" method="POST">
       Username <input type="text" placeholder="username" name="username" value="{{ request.form.username }}">
        Password <input type="password" placeholder="password" name="password" value="{{ request.form.password }}">
        <input class="btn btn-default" type="submit" value="Login">

</form>

{% if error %}
<p class="error"><strong>Error:</strong> {{ error }}</p>
{% endif %}     
{% for message in get_flashed_messages() %}
    {{ message }}
{% endfor %}
{% endblock %}
-->

{% extends "layout.html" %}
    {% block body %}

    <h1>Welcome to Flask!</h1>
    <br>
    <p>Click <a href="/">here</a> to go home.</p>

    {% endblock %}